name: CI

on:
  - pull_request
  - push

permissions:
  contents: read

jobs:
  test:
    name: Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - "20"
          - "*"
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm test
      - uses: codecov/codecov-action@v5
        with:
          name: Node.js ${{ matrix.node-version }}
